{% extends "base.html" %}

{% block content %}

<!-- End #main -->
<section style="padding-top:8% ;" id="about" class="about">
  <div class="section-heading text-center">
    <h2 style="padding: 50px;">About Geeta </h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-txt">
            <h3>
              Dr. Geeta Arora
              Professor
              Dept. of Mathematics
              School of Chemical Engineering and Physical Sciences
              Lovely Professional University
            </h3>


            

            <p> 






              Dr. Geeta Arora holds a Ph.D. in Mathematics from IIT Roorkee, India, which she earned in 2011. Currently, she serves as a Professor in the Department of Mathematics at Lovely Professional University, located in Punjab, India. With over twelve years of teaching experience, she has established herself as a seasoned educator in her field.<br>

              Throughout her career, Dr. Arora has demonstrated a strong commitment to research, having published approximately 60 research papers in both national and international journals. Additionally, she has authored 15 book chapters that have been featured in various national and international publications. Notably, she has authored a book on Vedic Mathematics, SCILAB, and Essential Statistics, showcasing her diverse expertise.<br>
              
              Her contributions extend beyond academia, as she has served as an editor for publications by Taylor Francis and is currently collaborating with CRC Press Taylor Francis, Elsevier, and IGI Global. Her research primarily focuses on the development of numerical methods and statistics, reflecting her dedication to advancing mathematical knowledge.<br>
              
              Dr. Arora's achievements have not gone unnoticed, as she has received the research appreciation award from Lovely Professional University in both 2017 and 2019. Her passion for education is evident through her involvement in conducting workshops on MATLAB and Vedic mathematics for both students and faculty members, both within and outside the university campus.<br>
              
              In addition to her research and teaching endeavors, Dr. Arora has also played a significant role in mentoring Ph.D. scholars, having supervised eight scholars and currently guiding six others. Her impact is further amplified through her service as an editor, associate editor, and reviewer for numerous international journals, where she contributes to shaping the academic discourse in her field.


            </p>
            <div class="row">
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>Phone</h3>
                  <p>+91 9501661172</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>Email</h3>
                  <p>geetadma@gmail.com</p>
                  <!-- <p>geeta.18820@lpu.co.in</p> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>Address</h3>
                  <p>H.No. 245, Shanti Vihar, Nandanpur Road, Maqsudan, Jalandhar, Punjab-
                    144008</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="single-about-img">
            <img src="{{ url_for('static', filename='img/Geeta2023.jpg') }}" alt="profile_image" class="img-fluid" style="border-radius: 10%;">
          </div>
        </div>
        

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}