{% extends "base.html" %}
{%block content %}
<!-- ======= Resume Section ======= -->
<section style="padding-top:10%" id="resume" class="resume section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>I am a researcher in mathematics working in the domain of Applied Mathematics, implementing the concepts of numerical analysis to solve partial differential equations. My research includes the collocation method, the Differential quadrature method with B-Spline in its standard, and the trigonometric form which is redefined. Implementing some of the optimization algorithm to minimize the errors</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Dr.Geeta Arora</h4>
          <p><em>
            Dr. Geeta Arora is working as a Professor in the Department of Mathematics at Lovely Professional University, Jalandhar-Delhi GT Road, Phagwara,
            Punjab-144 411, India
            </em>
          </p>
          <p>
          <ul>
            <li>Professor
              Dept. of Mathematics
        </li>
            <li>      School of Chemical Engineering and Physical Sciences
              Lovely Professional University</li>
            <li>
              <!-- <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                data-cfemail="0b6a6762686e25696a7960676e724b6e736a667b676e25686466">[email&#160;protected]</a> -->
                geeta.18820@lpu.co.in
              </li>
          </ul>
          </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Ph.D. (Mathematics).
           </h4>
          <h5>2007 - 2011</h5>
          <p><em>I.I.T. Roorkee</em></p>
      
          <p>
          Numerical Solutions of
Some Initial and Boundary-Value Problems using B-splines under supervision
of Dr. R.C. Mittal.
          </p>
        </div>
        <div class="resume-item">
          <h4>
Master of Science (M.Sc), Mathematics
          </h4>
         
        
          <p><em>
Gurukul University          </em></p>
<h5>2003</h5>
          <p>
            DOEACC ‘A’ Level in 2005 with ‘B’ Grade.
            <p>Bachelor of Science (B.Sc.) PCM, from C.C.S University in 2001 with
              First class (71%).</p>
              <p>
                Intermediate from U. P. Board in 1998 with First class (74%).
              </p>
              <p>
                High School from U. P. Board in 1996 with First class (79%).
              </p>
          </p>
          
       
          <p>
            <h4><b>Research interest</b></h4>
            <p>Numerical Analysis, Partial Differential Equations, Collocation methods,
              Differential Quadrature Techniques, Wavelets, Radial Basis functions</p>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Professor</h4>
          <h5>2014 - Present</h5>
          
<p> Assistant Professor, August 2014 to Nov 2020 <br>
Department of Mathematics</p>
<p><em>
  Associate Professor, Nov 2020 to May 2022 <br>

School of Chemical Engineering and Chemical Sciences

<p><b>
Lovely Professional University, Phagwara, Jalandhar
</b>
</p>
          </em></p>
          <p>
            
            </p>
        
        </div>
        <div class="resume-item">
          <h4>Assistant Professor</h4>
          <h5>2012 - 2014</h5>
          <p><em>
            Department of Mathematics,
Graphic Era Hill University,
Dehradun
          </em></p>
        
        </div>
        <div class="resume-item">
          <h4>Assistant Professor</h4>
          <h5>2011 - 2012 </h5>
          <p><em>
            N.I.T. Jalandhar
<br>
            (On Contract)
            
          </em></p>
        
        </div>
        <h3 class="resume-title">Professional Affiliations</h3>
        <div class="resume-item">
          <!-- <h4>Professor</h4> -->
          <!-- <h5>2022 - Present</h5> -->
         <p>
          American Mathematical Society (Life Membership)
<p> Society for Industrial and Applied Mathematics ISIAM (Life
Membership) </p>
<p> Indian Science Congress (Life Membership) </p>
<p> International Society of Difference Equations (Member) </p>
<p> The Indian Mathematical society (Life Membership) </p>
         </p>
<br>
         <!-- <h3>Details</h3> -->
 <h4>Published books links: 

  
  <a href="https://www.amazon.in/dp/B09Z3197CK/ref=cm_sw_r_apan_i_JZCGJ4DWZ78FFSXAAYG">1. Essence of Statistics </a> <br>
<a href="https://www.amazon.in/Quick-Calculation-Mathematics-Based-Vedic/dp/1639407782">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 .Quick Calculation in Mathematics</a></h4>
<br>
<h4>LINKS:
  <br><br>
<a href="https://orcid.org/0000-0002-3786-545X">ORCID </a>


<a href="https://www.scopus.com/authid/detail.uri?origin=resultslist&authorId=35208029900&zone=">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCOPUS</a>
<!-- <hr> -->


  <a href="https://scholar.google.com/citations?user=EE781pEAAAAJ&hl=en">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Google Scholar</a>
  <!-- <hr> -->
  </h4>
         
        
        </div>
        <!-- <h3 class="resume-title">Details </h3> -->
        <!-- <div class="resume-item"> -->
       
        
        </div>
      
            </em></p>

      </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

{%endblock%}