{% extends "base.html" %}

{% block content %}
<title>Shubham</title>

<!-- End #main -->
<section style="padding-top:8% ;" id="about" class="about">
  <div class="section-heading text-center">
    <h2 style="padding: 50px;">About me</h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-txt">
            <h3>
              Ph.D. Mathematics <br>
Lovely Professional
University, Punjab
            </h3>
            <p>
              Name: Shubham Mishra <br>
              UID 31003 <br>
              Designation: Assistant Professor <br>
              Department: Mathematics <br>
              School: CSE, Lovely Professional University <br>
                          </p>
            <div class="row">
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>Phone</h3>
                  <p>
                    +91 84376 19922                  </p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>Email</h3>
                  <p>
                    mishrasam73@gmail.com                  </p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <!-- <h3>Address</h3> -->
                  <p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="single-about-img">
            <img src=
           "  {{ url_for('static', filename='img/Shubham.jpg') }} " 
            alt="profile_image" class="img-fluid" style="border-radius: 10%;">
          </div>
        </div>
        

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}