{% extends "base.html" %}
{%block content %}
<!-- ======= Resume Section ======= -->
<section style="padding-top:10%" id="resume" class="resume section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>
        Assistant Professor,
         Mathematics <br>
    
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Dr.Shubham Mishra</h4>
          <p><em>
            Name: Shubham Mishra <br>
UID 31003 <br>
Designation: Assistant Professor <br>
Department: Mathematics <br>
School: CSE, Lovely Professional University</em>
          </p>
          <p>
          <ul>
          
          </ul>
          </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Ph.D. Mathematics</h4>
          <h5>2023</h5>
          <p><em>
            Lovely Professional
            University, Punjab          </em></p>
        </div>
        <div class="resume-item">
          <h4>
            M.Sc. Honors        </h4>
          <h5>2018</h5>
          <p><em>
            Lovely Professional
            University, Punjab             </em></p>
        </div>
        <div class="resume-item">
          <h4>
            B.Sc. Honors     </h4>
          <h5>2016</h5>
          <p><em>
            Lovely Professional
            University, Punjab             </em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
      
        <div class="resume-item">
          <h4>
            Assistant Professor          </h4>
          <h5>2023 - Present</h5>
          <p><em>
            Lovely Professional University,
            Punjab          </em></p>
    
        </div>
        <div class="resume-item">
          <h4>
            Teaching Assistant
            Professor          </h4>
          <h5>
            
            2022 - 2023          </h5>
          <p><em>
            Lovely Professional
            University, Punjab           </em></p>
        
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title"><small>Professional Interests:</small></h3>
        
          <div class="resume-item">
            <h4>
              Numerical Analysis.         </h4>
            <h5>Title of the Thesis</h5>
            <p><em>
             <small> Numerical Solution of Nonlinear Evolution Equations using B-spline Basis
              function in Differential Quadrature Method </small>       </em></p>
      
          </div>
      </div>
    </div>
    

  </div>
</section><!-- End Resume Section -->

{%endblock%}